@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 5px;
}
:root {
    --body-bg: rgb(39, 36, 36);
    --text-color: #222;
    --musicPlayer-bg: #f4f4f2;
    --songs-bg-hover: rgb(213, 217, 221);
    --mobilePlayer-bg: #e4e1e1;
    --progressBar-color: rgb(53, 53, 53);
    --controlsButtons-bg: invert(0%) sepia(100%) saturate(7500%) hue-rotate(211deg) brightness(115%) contrast(115%);
    --darkModeBtn: #fafafa;
}
.dark-mode:root {
    --body-bg: #424242;
    --text-color: #fafafa;
    --musicPlayer-bg: rgb(31, 31, 31);
    --songs-bg-hover: rgb(54, 54, 54);
    --mobilePlayer-bg: #313131;
    --progressBar-color: rgb(255, 255, 255);
    --controlsButtons-bg: invert(100%) sepia(0%) saturate(1%) hue-rotate(102deg) brightness(101%) contrast(102%);
    --darkModeBtn: #666363;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--body-bg);
}

.button-activated {
    background-color: rgba(129, 129, 129, 0.438);
    padding: 2px 2px;
}

/* ---- CENTRALIZE-CLASSES ---- */
.cent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* ---- CENTRALIZE-CLASSES-END ---- */

/* ----DARK-MODE-CONTAINER---- */
#darkmode-container {
    width: 100%;
    align-items: flex-start;
    position: fixed;
    top: 2%;
}

#dark-mode {
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    width: 150px;
    padding: 2px;
    border: 0;
    box-shadow: 2px 2px 2px black;
    color: var(--text-color);
    background-color: var(--darkModeBtn);
    transition: 500ms;
}
#dark-mode:hover {
    background-color: var(--songs-bg-hover);
}
/* ----DARK-MODE-CONTAINER-END---- */

/* ------PLAYLIST-CONTAINER------ */
#playlist-container {
    position: relative;
    background-color: var(--musicPlayer-bg);
    color: var(--text-color);
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    margin-right: 10rem;
    box-shadow: 10px 10px 15px black;
}

/* PLAYLIST-HEADER */
#playlist-container #title-playlist {
    position: sticky;
    top: 0%;
    z-index: 1;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--musicPlayer-bg);
    border-bottom: 2px black solid;
}

/* SONGS-IN-PLAYLIST */
#playlist-container .songs {
    justify-content: flex-start;
    width: 400px;
    padding: 10px;
    margin: 10px 0px 10px 50px;
    border-radius: 10px;
    transition: 500ms;
}
#playlist-container .songs:hover {
    cursor: pointer;
    background-color: var(--songs-bg-hover);
}

#playlist-container .songs .song-info {
    position: relative;
    margin-left: 10px;
    align-items: flex-start;
}
#playlist-container .songs .song-info .song-cover {
    border-radius: 2px;
    width: 55px;
}
#playlist-container .songs .song-info .song-name {
    overflow: hidden;
    position: absolute;
    width: 300px;
    left: 110%;
    top: 5%;
    line-height: 35px;
    font-size: 2.1rem;
}
#playlist-container .songs .song-info .song-artist {
    position: absolute;
    left: 112%;
    top: 50%;
    width: 250px;
    margin-top: 3px;
    line-height: 15px;
    font-size: 1.2rem;
}
/* ------PLAYLIST-CONTAINER-END------ */

/* ----PLAYER-CONTAINER---- */
#player-container {
    position: relative;
    justify-content: flex-start;
    padding: 50px 80px;
    border-radius: 10px;
    background-color: var(--musicPlayer-bg);
    box-shadow: 10px 10px 15px black;
    transition: 200ms;
    color: var(--text-color);
}

/* PLAYER-MUSIC-INFO */
#player-container #song-info {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 8px;
}
#player-container #song-info img {
    width: 250px;
}
#player-container #song-info h1 {
    font-size: 1.9rem;
    font-weight: bold;
}
#player-container #song-info p {
    font-size: 1.45rem;
    font-weight: 600;
}

/* TIMER */
#player-container #timer-container {
    width: 250px;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
}
#player-container #timer-container span {
    font-size: 1.2rem;
}

/* PROGRESS-BAR */
#player-container #progress-container {
    position: relative;
    width: 250px;
}
#player-container #progress-container #progress-bar {
    z-index: 0;
    position: absolute;
    top: 30%;
    width: 0px;
    height: 4px;
    border-radius: 5px;
    background: var(--progressBar-color);
}
#player-container #progress-container #progress-bar-input {
    position: absolute;
    z-index: 5;
    appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: rgba(167, 167, 167, 0.397);
    -webkit-appearance: none;
    appearance: none;
}
#player-container #progress-container #progress-bar-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    z-index: 5;
    width: 15px;
    padding: 0;
    opacity: 0%;
    height: 15px;
    transition: 500ms;
    border-radius: 50px;
    background: rgb(254, 255, 255);
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}
#player-container #progress-container #progress-bar-input:hover::-webkit-slider-thumb {
    opacity: 100%;
}

/* AUDIO-AND-CONTROLS */
#player-container #audio-container {
    position: relative;
}
#player-container #audio-container #controls {
    width: 250px;
    height: 50px;
    margin-top: 20px;
}
#player-container #audio-container #controls .icon-cfg {
    filter: var(--controlsButtons-bg);
}
#player-container #audio-container #controls .icon-cfg:hover {
    cursor: pointer;
}
#player-container #audio-container #controls #shuffle-song {
    width: 25px;
    position: absolute;
    left: 0%;
}
#player-container #audio-container #controls #prev-song {
    margin-right: 5px;
}
#player-container #audio-container #controls #play-song {
    width: 65px;
}
#player-container #audio-container #controls #next-song {
    margin-left: 5px;
}
#player-container #audio-container #controls #repeat-song {
    width: 25px;
    position: absolute;
    right: 0%;
}
#player-container #expand-song {
    display: none;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 30px;
    padding: 3px;
    border-radius: 50%;
    filter: var(--controlsButtons-bg);
}
/* ------PLAYER-CONTAINER-END------ */

/* ------FOOTER-CONTAINER------ */
#footer-container {
    justify-content: flex-start;
    position: absolute;
    overflow: hidden;
    bottom: 0%;
    border-radius: 10px 10px 0px 0px;
    max-width: 500px;
    min-width: 100px;
    height: 32px;
    padding: 2px 10px;
    background-color: var(--musicPlayer-bg);
    color: var(--text-color);
    transition: 500ms;
    box-shadow: 5px 5px 5px black;
}
#footer-container:hover {
    background-color: var(--mobilePlayer-bg);
}
#footer-container i {
    font-size: 1.5rem;
}
#footer-container #title {
    color: var(--text-color);
    padding-top: 6px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}
#footer-container #text {
    color: var(--text-color);
    visibility: visible;
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    padding: 0px 20px;
}
#footer-container #credits {
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--musicPlayer-bg);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 7px;
}
/* ----PLAYER-CONTAINER-END---- */

img {
    border-radius: 5px;
}

@media (max-width: 1200px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #footer-container {
        display: none;
    }
    #darkmode-container {
        display: none;
    }
    #dark-mode {
        width: 100px;
        font-size: 1.3rem;
    }
    #playlist-container {
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        padding-bottom: 100px;
    }
    #player-container {
        position: fixed;
        bottom: 0%;
        z-index: 5;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0px;
        width: 100%;
        border-radius: 0;
        background-color: var(--mobilePlayer-bg);
    }
    #player-container #expand-song {
        display: block;
        z-index: 2;
    }
    #player-container #progress-container {
        margin-bottom: 20px;
    }
    #album-cover {
        width: 55px;
    }
    #song-info {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #song-info img {
        width: 450px;
    }
    #progress-container {
        width: 450px;
        margin-bottom: 30px;
    }
    #player-container #timer-container {
        position: static;
    }
    #audio-container {
        position: relative;
    }
    #audio-container #controls {
        width: 250px;
        margin-top: 25px;
    }
    #audio-container #controls #shuffle-song {
        width: 22px;
        left: 5%;
    }
    #audio-container #controls #prev-song {
        width: 22px;
    }
    #audio-container #controls #play-song {
        width: 50px;
    }
    #audio-container #controls #next-song {
        width: 22px;
    }
    #audio-container #controls #repeat-song {
        width: 22px;
        right: 5%;
    }
}
@media (max-width: 920px) {
    #song-info {
        display: none;
    }
}
@media (max-width: 650px) {
    #song-info img {
        width: 250px;
    }
    #progress-container {
        width: 250px;
    }
    #playlist-container .songs {
        width: 350px;
    }
}
@media (max-width: 520px) {
    * {
        font-size: 50%;
    }
    #playlist-container #title-playlist {
        font-size: 5.5rem;
    }
    #playlist-container .songs {
        min-width: 280px;
        margin: 0;
    }
}
@media (max-width: 390px) {
    * {
        font-size: 47%;
    }
    #playlist-container #title-playlist {
        font-size: 4rem;
    }
}
